In [ ]:
# default_exp utils.transforms

# Transforms
> Implementation of data transformation utilities.

In [ ]:
#hide
from nbdev.showdoc import *
from fastcore.nb_imports import *
from fastcore.test import *

In [ ]:
#export
import pandas as pd
import numpy as np

## transform_to_gru4rec_format

In [ ]:
#export
def transform_to_gru4rec_format(dataset, 
                                lst_col='sequence', 
                                ts_col='timestamp', 
                                user_col='user_id',
                                ):
    """
    Convert a list of sequences to GRU4Rec format.
    Based on this StackOverflow answer: https://stackoverflow.com/a/48532692

    :param dataset: the dataset to be transformed
    """
    df = dataset.reset_index()
    unstacked = pd.DataFrame({
        col: np.repeat(df[col].values, df[lst_col].str.len()) for col in df.columns.drop(lst_col)}
    ).assign(**{lst_col: np.concatenate(df[lst_col].values)})[df.columns]
    # ensure that events in the session have increasing timestamps
    unstacked[ts_col] = unstacked[ts_col] + unstacked.groupby(user_col).cumcount()
    unstacked.rename(columns={lst_col: 'item_id'}, inplace=True)
    return unstacked

Example

In [ ]:
from recohut.utils.data import load_dataset

df = load_dataset('sample_session')
df

   session_id                              sequence          ts  user_id
0         357                           [793, 3489]  1421003874     4296
1         359                                [1762]  1421018535     4296
2         394                                [1256]  1421007470    30980
3        4127  [1948, 1364, 2060, 1115, 6488, 2060]  1421416896    28117
4        6400                           [687, 1394]  1420807778    35247

In [ ]:
transform_to_gru4rec_format(df, lst_col='sequence', ts_col='ts', user_col='user_id')

    index  session_id  item_id          ts  user_id
0       0         357      793  1421003874     4296
1       0         357     3489  1421003875     4296
2       1         359     1762  1421018537     4296
3       2         394     1256  1421007470    30980
4       3        4127     1948  1421416896    28117
5       3        4127     1364  1421416897    28117
6       3        4127     2060  1421416898    28117
7       3        4127     1115  1421416899    28117
8       3        4127     6488  1421416900    28117
9       3        4127     2060  1421416901    28117
10      4        6400      687  1420807778    35247
11      4        6400     1394  1420807779    35247

In [ ]:
#hide
from nbdev.showdoc import *
from fastcore.nb_imports import *
from fastcore.test import *

In [ ]:
#hide
%reload_ext watermark
%watermark -a "Sparsh A." -m -iv -u -t -d -p recohut

numpy  1.19.5
pandas 1.1.5
Sparsh A.
last updated: 2022-01-29 14:31:54

recohut 0.0.12

compiler   : GCC 7.5.0
system     : Linux
release    : 5.4.144+
machine    : x86_64
processor  : x86_64
CPU cores  : 2
interpreter: 64bit